<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PinterestLikeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B646C4D71D9633E700420EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B646C4EB1D9633E700420EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B646C4F61D9633E700420EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
